body {
    background-color: #f0f0f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkolivegreen;
    text-align: center;
}
.container{
    background-color: aliceblue;
    border: 2px solid #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}